.container-fluid {
    margin-top: 30px;
    width: calc( 100% - 20px );
    max-width: 1300px;
}
.bingo {
    padding-left: 20px;
}
.demo-dialog {
    max-height: calc( 100vh - 150px );
}
.sl-dialog {
    width: 600px;
    max-width: 90vw;
}
.padding-table {
    width: calc( 100% - 30px );
    margin: 15px;
}
.padding-table .row {
    width: 100%;
    margin: 0 auto;
}
.block {
    border-style: solid;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    padding: 2.5px;;
}
#block-1 {
    border-top-left-radius: 5px;
}
#block-3 {
    border-top-right-radius: 5px;
}
#block-7 {
    border-bottom-left-radius: 5px;
}
#block-9 {
    border-bottom-right-radius: 5px;
}

.bingo-value {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 3px;
}
.bingo-value.match-bingo {
    color:red;
}
.btn-purple {
    color: #fff;
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
}

.btn-outline-purple {
    color: var(--bs-purple);
    border-color: var(--bs-purple);
}

.icon {
    width: 32px;
    height: 32px;
    background-size: auto;
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
}

.skill {
    font-size: 20px;
}

.border-top-none {
    border-top: none;
}

.border-left-none {
    border-left: none;
}

.block.is-selected {
    color: #fff;
    background-color: #3f474cd9;
    border-color: #000;
}
.dark-mode .block.is-selected {
    background-color: #9bafbbc2;
    border-color: white;
}
.btn.btn-sl {
    min-width: 80px;
}

.col.block .skill-area {
    position: absolute;
    text-align: center;
    background-size: 75%;
    background-repeat: no-repeat;
    width: calc( 100% - 5px );
    height: 100%;
    background-position: 50% 5%;
}
.col.block .skill-area .skill-name-block {
    transform: translateY(-50%);
    margin-top: 50%;
}
.col.block.got-skill .skill-area .skill-name-block {
    font-size: 0.8em;
    margin: auto;
    margin-top: 100%;
    background: #000000dd;
    color: white;
    border-radius: 5px;
    border: solid 2px;
    transform: translateY(-100%);
    padding: 2px 5px;
    border-color: #ffffff63;
    width: calc( 100% - 10px );
    max-width: 95%;
}
.col.block .skill-area .skill-name-text {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    height: 3em;
    line-height: 1.4em;
}

.dark-mode {
    background: var(--bs-dark);
    color: #C8C8C8;
}

.filter-btn {
    color:white;
    margin-right: 5px;
    position: relative;
    margin-bottom: 5px;
}
.filter-btn:hover {
    color:white;
}
.filter-btn.is-checked::before {
    content: "✓";
    position: absolute;
    left: 96%;
    top: 0px;
    color: white;
    z-index: 99;
    transform: translate(-50%, -9px);
    background-color: #68d69c;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 12px;
    border: solid #0aa753ed 1px;
}
.filter-btn.type-1 {
    background:#adadad;
}
.filter-btn.type-2 {
    background:#d1302b;
}
.filter-btn.type-3 {
    background:#2f76e8;
}
.filter-btn.type-4 {
    background:#b79544;
}
.filter-btn.type-5 {
    background:#3a9fe2;
}
.filter-btn.type-6 {
    background:#a644cf;
}
.filter-btn.action-4 {
    background:#adadad;
}
.filter-btn.action-1 {
    background:#d44743;
}
.filter-btn.action-2 {
    background:#198754;
}
.filter-btn.action-3 {
    background:#0d6efd;
}
.content-indent {
    width: calc( 100% - 5px);
    margin-top: 5px;
    margin-left: 5px;
}
.demo-block {
    height: auto;
    aspect-ratio: 1 / 1;
    text-align: center;
    border: solid 1px gray;
    padding: 3%;
}
.demo-block img {
    width: 100%;
    height: auto;
}
.material-icons {
    font-size: 1.2em;
    line-height: 1.2em;
    transform: translateY(10%);
}
.lock {
    position: absolute;
    transform: translate( -2px, -2px);
    font-size: 1em;
    display: none;
}
.clean-block {
    position: absolute;
    margin-left: 100%;
    transform: translate( calc( -100% + -2px ), -2px);
    font-size: 1em;
    display: none;
}
.got-skill .clean-block, .got-skill .lock {
    display: block;
}
.lock.is-lock {
    color: #a54e2b;
}
.bingo-line {
    transform-origin: left top;
    position: absolute;
}
.bingo-line.hide {
    visibility: hidden;
}
.bingo-line line {
    stroke:#3078b79e;
}
.bingo-line line.bingo-line-inner {
    stroke:#000fff;
}
.bingo-line line.bingo-line-inner-inner {
    stroke:#00efff;
}
@media only screen and (max-width: 991px) {
    .container-fluid {
        margin-top: 10px;
        width: calc( 100% - 20px );
    }
    .bingo {
        padding-left: 0;
    }
    .demo-dialog {
        max-width: 80vw;
        max-height: calc( 100vh - 150px );
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .lock, .clean-block{
        font-size: 0.8em;
    }

    .col.block.got-skill .skill-area .skill-name-block {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 991px) {
    .lock, .clean-block{
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .col.block .skill-area {
        background-position: 50% 15%;
    }
}
@media only screen and (max-width: 500px) {
    .lock, .clean-block{
        font-size: 1em;
    }
    .col.block.got-skill .skill-area .skill-name-block {
        font-size: 0.7em;
    }
}